server:
  port: 8080

spring:
  application:
    name: api-gateway
  config:
    activate:
      on-profile: local
  data:
    redis:
      host: localhost
      port: 6379
  cloud:
    gateway:
      actuator:
        verbose:
          enabled: true
      routes:
        - id: order-service
          uri: http://localhost:8082
          predicates:
            - Path=/orders/**

        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true