server:
  port: 8080

spring:
  application:
    name: api-gateway
  config:
    activate:
      on-profile: prd
  data:
    redis:
      host: redis.cache
      port: 6379
  cloud:
    gateway:
      routes:
        - id: order-service
          uri: http://order-service:8082
          predicates:
            - Path=/orders/**

        - id: auth-service
          uri: http://auth-service.auth:8081
          predicates:
            - Path=/auth/**

management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /actuator
  endpoint:
    health:
      show-details: when-authorized
    gateway:
      enabled: false